<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.tomecode.soa.dependency.analyzer.gui.Application">
         </run>
      </application>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            allowMultiple="true"
            name="Flow Graph"
            class="com.tomecode.soa.dependency.analyzer.view.graph.FlowGraphView"
            id="view.flowGraph">
      </editor>
      <editor
            name="Dependency Graph"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.view.graph.VisualGraphView"
            id="view.visualgraph">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.tomecode.soa.dependency.analyzer.gui.Perspective"
            id="com.tomecode.soa.dependency.analyzer.gui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
	 <view 
            name="Workspaces"
            allowMultiple="true"
            icon="icons/com/tomecode/soa/icons/workspaceNavigator.png"
            class="com.tomecode.soa.dependency.analyzer.tree.WorkspacesNavigator"
            id="view.workspacenavigator">
    </view>
 	<view 
            name="BPEL process structure tree"
            allowMultiple="true"
            icon="icons/com/tomecode/soa/icons/bpelProcessStructureView.png"
            class="com.tomecode.soa.dependency.analyzer.tree.BpelProcessStructureNavigator"
            id="view.bpelprocessstructurenavigator">
    </view>
 	<view 
            name="Service Dependnecy by Operations"
            allowMultiple="true"
            icon="icons/com/tomecode/soa/icons/dependencyByOperationTree.png"
            class="com.tomecode.soa.dependency.analyzer.tree.ServiceOperationsDepNavigator"
            id="view.serviceoperationsdepnavigator">
    </view>   
 	<view 
            name="Properties"
            allowMultiple="true" 
            icon="icons/com/tomecode/soa/icons/properties.png"
            class="com.tomecode.soa.dependency.analyzer.view.PropertiesView"
            id="view.properties" >
    </view>
    <view 
            name="Project Files"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.tree.ProjectFilesNavigator"
            id="view.projectFilesNavigator">
    </view>
     <view 
            name="Project Services"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.tree.ProjectServicesNavigator"
            id="view.projectServiceNavigator">
    </view>
     	<view 
            name="Service Bus Proxy Structure"
            allowMultiple="true"
            icon="icons/com/tomecode/soa/icons/bpelProcessStructureView.png"
            class="com.tomecode.soa.dependency.analyzer.tree.ServiceBusStructureNavigator"
            id="view.servicebusstructurenavigator">
    </view>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.tomecode.soa.dependency.analyzer.application"
            name="SOA Dependecy Analyzer">
         <property
               name="appName"
               value="SOA Dependecy Analyzer">
         </property>
         <property
               name="aboutImage"
               value="icons/com/tomecode/soa/product/soaDependencyAnalyzerAbout.png">
         </property>
         <property
               name="aboutText"
               value="SOA Dependency Analyzer&#x0A;Version: 0.8 Beta 0.2&#x0A;&#x0A;Developer:  Tomas Frastia&#x0A;(c) Copyright For The TomeCode.com 2010. All Rights Reserved.&#x0A;Visit:&#x0A;http://www.tomecode.com&#x0A;http://code.google.com/p/bpel-esb-dependency-analyzer/">
         </property>
         <property
               name="windowImages"
               value="icons/com/tomecode/soa/product/soaDependencyAnalyzerAbout16.png,icons/com/tomecode/soa/product/soaDependencyAnalyzerAbout32.png,icons/com/tomecode/soa/product/soaDependencyAnalyzerAbout48.png,icons/com/tomecode/soa/product/soaDependencyAnalyzerAbout64.png,icons/com/tomecode/soa/product/soaDependencyAnalyzerAbout.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.tomecode.soa.dependency.analyzer.splashHandlers.BrowserSplashHandler"
            id="com.tomecode.soa.dependency.analyzer.splashHandlers.browser">
      </splashHandler>
      <splashHandler
            class="com.tomecode.soa.dependency.analyzer.splashHandlers.InteractiveSplashHandler"
            id="com.tomecode.soa.dependency.analyzer.splashHandlers.interactive">
      </splashHandler>
      <splashHandler
            class="com.tomecode.soa.dependency.analyzer.splashHandlers.ExtensibleSplashHandler"
            id="com.tomecode.soa.dependency.analyzer.splashHandlers.extensible">
      </splashHandler>
   </extension>
   <extension
         point="com.tomecode.soa.dependency.analyzer.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>

</plugin>
