<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.tomecode.soa.dependency.analyzer.gui.Application">
         </run>
      </application>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            allowMultiple="true"
            name="Flow Graph"
            class="com.tomecode.soa.dependency.analyzer.view.graph.FlowGraphView"
            id="view.flowGraph">
      </editor>
      <editor
            name="Dependency Graph"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.view.graph.VisualGraphView"
            id="view.visualgraph">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.tomecode.soa.dependency.analyzer.gui.Perspective"
            id="com.tomecode.soa.dependency.analyzer.gui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
	 <view 
            name="Workspaces"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.tree.WorkspacesNavigator"
            id="view.workspacenavigator">
    </view>
 	<view 
            name="BPEL process structure tree"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.tree.BpelProcessStructureNavigator"
            id="view.bpelprocessstructurenavigator">
    </view>
 	<view 
            name="Service Dependnecy by Operations"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.tree.ServiceOperationsDepNavigator"
            id="view.serviceoperationsdepnavigator">
    </view>
 	<!--view 
            name="Dependency Graph"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.view.VisualGraphView"
            id="view.visualgraph">
    </view-->
 	<!--view 
            name="Flow Graph"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.view.FlowGraphView"
            id="view.visualgraph">
    </view-->    
 	<view 
            name="Properties"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.view.PropertiesView"
            id="view.properties">
    </view>
     	<view 
            name="Project Files"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.tree.ProjectFilesNavigator"
            id="view.projectFilesNavigator">
    </view>
     <view 
            name="Project Services"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.tree.ProjectServicesNavigator"
            id="view.projectServiceNavigator">
    </view>
     	<view 
            name="Service Bus Proxy Structure"
            allowMultiple="true"
            class="com.tomecode.soa.dependency.analyzer.tree.ServiceBusStructureNavigator"
            id="view.servicebusstructurenavigator">
    </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.tomecode.soa.dependency.analyzer.application"
            name="SOA Dependecy Analyzer">
         <property
               name="appName"
               value="SOA Dependecy Analyzer">
         </property>
         <property
               name="aboutImage"
               value="icons/com/tomecode/soa/icons/bpel_dependency_analyzer.png">
         </property>
         <property
               name="aboutText"
               value="SOA dependnecy analyzer 0.8&#x0A;&#x0A;http://www.tomecode.com">
         </property>
         <property
               name="windowImages"
               value="icons/com/tomecode/soa/icons/bpel_dependency_analyzer_small.png,icons/com/tomecode/soa/icons/bpel_dependency_analyzer.png,icons/com/tomecode/soa/icons/bpel_dependency_analyzer.png,icons/com/tomecode/soa/icons/bpel_dependency_analyzer.png,icons/com/tomecode/soa/icons/bpel_dependency_analyzer.png">
         </property>
      </product>
   </extension>

</plugin>
